header {
  width: 100vw;
  padding-block: 1.5rem;
  padding-inline: 1rem;
  background-color: #26282d;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 250px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;

    a {
      font-size: 1.25rem;
      margin-inline: 15px;
    }

    .donate {
      border: 1px solid white;
      padding: 10px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
